html
    head
        title a
        link(rel='stylesheet' href='/css/home.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")

    body
        main
            h1 Hello Nodejs